; Useful commands:
;
; - systemctl --user start xkeysnail
; - systemctl --user stop xkeysnail
; - systemctl --user daemon-reload
; - journalctl --follow --user-unit xkeysnail.service
;
; Also once upon a time you ran these commands:
;
;     sudo groupadd -f uinput
;     sudo gpasswd -a $USER uinput
;     cat <<EOF | sudo tee /etc/udev/rules.d/70-xkeysnail.rules
;     KERNEL=="uinput", GROUP="uinput", MODE="0660", OPTIONS+="static_node=uinput"
;     KERNEL=="event[0-9]*", GROUP="uinput", MODE="0660"
;     EOF
;
; which you got from this GitHub issue suggestion:
;
;     https://github.com/mooz/xkeysnail/issues/64#issuecomment-600380800
;
; It required a system reboot.
;
; You ran this to (attempt?) to make it start automatically after a reboot:
;
;     ❯ systemctl --user enable xkeysnail
;     Created symlink /home/jez/.config/systemd/user/graphical.target.wants/xkeysnail.service → /home/jez/.dotfiles/host-jez-pc-01/config/systemd/user/xkeysnail.service.
;     Unit /home/jez/.dotfiles/host-jez-pc-01/config/systemd/user/xkeysnail.service is added as a dependency to a non-existent unit graphical.target.
;
; ... then it seemed like there was a problem with that, so I changed the
; WantedBy to graphical-session.target, and re-ran the `enable` command and it
; worked (after logging out and logging back in)

[Unit]
Description=xkeysnail

[Service]
Type=simple
KillMode=process
ExecStart=/home/jez/.local/bin/xkeysnail-service.sh
; Don't restart, if it dies something went wrong and is unlikely
; to be fixed by restarting.
; Restart=on-failure
; RestartSec=3
; I don't think this is required either: we can just let the process die from SIGTERM
; ExecStop=pkill -f xkeysnail-service.sh
Environment=DISPLAY=:1

[Install]
WantedBy=graphical-session.target
